* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.bin binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.mp3 binary
*.mp4 binary
*.pdf binary
*.png binary
*.wav binary
*.webm binary
*.woff binary
*.woff2 binary
